$lightblue: #79c6ec;

body {
  background: white;
  margin: 0;
  height: 100%;
  min-width: 760px;
}
.sidebar {
  background: #333;
  color: white;
  width: 200px;
  height: 650px;
  float: left;
  text-align: center;
  z-index: 1;
  ul {
    list-style-type: none;
    padding: 0;
  }
}
.main-container {
  text-align: center;
  background: white;
  height: 100%;
  margin: 0;
  h1 {
    margin-top: 0px;
    padding-top: 20px;
  }
}
.album {
  background: white;
  width: 150px;
  height: 200px;
  display: inline-block;
  margin: 4%;
  border: 2px solid black;
  border-radius: 5px;
  overflow: hidden;
  text-align: center;
  &:hover {
    background: $lightblue;
  }
  img {
    height: 150px;
    width: auto;
  }
}
.album-btn {
  width: 150px;
  height: 40px;
  font-size: 14px;
  margin: 10px;
  border-color: black;
  &:hover {
    background: $lightblue;
  }
  &:focus {
    outline: 0;
  }
}
.active {
  background: $lightblue;
}
.hidden {
  display: none;
}

.return-to-album, .preview-img, .left-arrow, .right-arrow, .img-container {
  display: none;
}


.preview {
  background: #595959;
  position: relative;
  h1 {
    display: block;
    margin-bottom: 60px;
  }
  .return-to-album {
    position: absolute;
    display: inline-block;
    font-size: 14px;
    left: 30px;
    top: 25px;
    width: 250px;
    height: 35px;
  }
  .img-container {
    display: inline-block;
    width: 500px;
    height: 500px;
    border: 3px solid black;
    background: white;
    background-size: contain;
    margin-bottom: 40px;
    line-height: 500px;
    .preview-img {
      margin: 0 auto;
      display: inline-block;
      height: auto;
      width: auto;
      max-height: 500px;
      max-width: 500px;
      margin: auto;
      vertical-align: middle;
    }
  }
  .left-arrow, .right-arrow {
    display: inline-block;
    color: #bfbfbf;
    background: none;
    border: none;
    font-size: 150px;
    margin-top: 160px;
    vertical-align: top;
    &:hover {
      color: #f2f2f2;
    }
    &:focus {
      outline: none;
    }
  }
}
